<div class="row projects">
  <div class="col-md-4 project-item">
    <h3>Safe UMD </h3>
            <hr>
            <span>languages: pebble api, javascript, ajax
            I worked on the front end of the app. 
            It won the Most Impressive First-time Project,
            Best Project using Pebble
            at HACKNC 2015 </span>
	    </div>
  <div class="col-md-4 project-item">
    <h3>Myinventory</h3>
                <hr>
                <span>languages: Mysql, php, html/css, javascript. 
Currently working on a web application that is geared towards small businesses
that still do their inventory by hand. It’ll let the user enter their inventory
and record sells. </span>
    </div>

 <div class="col-md-4 project-item">
    <h3>Comedy Genres</h3>
            <hr> 

            <span> <p><a href="https://terpconnect.umd.edu/~abenitez/389J/">
              <p>My first website. Please note I was not
              allowed to use any UL web design tools such as Bootstrap.</span>
	    </div>
</div>
